<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobappdev.codeish">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Codeish">

        <activity android:name=".RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.mobappdev.codeish.register" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="com.mobappdev.codeish.login.LoginActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.mobappdev.codeish.MainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".userdata.userSpecificData">
            <intent-filter>
                <action android:name="com.mobappdev.codeish.userdata.userSpecificData" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".mainView.mainView">
            <intent-filter>
                <action android:name="com.mobappdev.codeish.MainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter1.gettingstarted">
            <intent-filter>
                <action android:name="com.mobappdev.codeish.MainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.Settings">
            <intent-filter>
                <action android:name="com.mobappdev.codeish.settings.Settings" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".shop.Shop">
            <intent-filter>
                <action android:name="com.mobappdev.codeish.shop.Shop" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".profile.Profile">
            <intent-filter>
                <action android:name="com.mobappdev.codeish.profile.Profile" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter1.itemquiz">
            <intent-filter>
                <action android:name="com.mobappdev.chapter1.itemquiz" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter2.computerscience">
            <intent-filter>
                <action android:name="com.mobappdev.chapter2.computerscience" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter3.hardware">
            <intent-filter>
                <action android:name="com.mobappdev.chapter3.hardware" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter4.computionalthinking">
            <intent-filter>
                <action android:name="com.mobappdev.chapter4.computionalthinking" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter4.binarygame.binarygame">
            <intent-filter>
                <action android:name="com.mobappdev.chapter4.binarygame.binarygame" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>